
/* Styles the login background */
body.login {
	background: #FEFEFE;
}

/* Styles the login logo */
.login h1 a {
	background-image: url('../login/CORD-LogoRed.png');
	background-size: 300px 72px;
	width: 300px;
	height: 72px;
}

#login {
	padding: 30px 0 0;
}

/* Styles the login form */
.login form {
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	border: 1px solid rgba(0,0,0,.2);
	background-clip: padding-box;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	overflow: hidden;
}

.login label {
	color: #333;
	line-height: 26px;
}

/* Styles the login button in its different states */
.login .button-primary {
	width: 120px;
	float:right;
	background-color:#FF8B00 !important;
	color: #FAFAFA;
}
.login .button-primary:hover {
	background-color:#FF8B00 !important;
	color: #666699;
}

.login .button-primary:active {
	background-color:#FF8B00 !important;
	color: #FFF;
}